
:root {
    --main-clr: #fff;
    --submain-clr: #333333;
    --shapes-clr: #C4C4C4;
    --decors-clr: #F7E338;
}

* {
    font-family: inherit;
}

body {
    font-family: 'Monserrat', sans-serif;
}

a {
    font-size: inherit;
}